html {
  font-size: 16px;
}

body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

* {
  box-sizing: inherit;
}

:root {
  --darkblue: #264654;
  --gold: #ffdb9e;
  --lightblue:  #e6f7ff;
  --mediumdarkblue: #036896;
  --sandy: #c4ccd7;
}

button:focus {
  outline: none;
}

/*Navigation*/
header {
  position: fixed;
  z-index: 3;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

#navbar {
  color: white;
  height: 50px;
  padding-bottom: 10px;
  position: fixed;
  text-decoration: none;
  font-weight: 300;
  top: 0;
  width: 100vw;
  z-index: 2;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#navbar.scroll {
  background-color: var(--mediumdarkblue);
  font-weight: 300;
  height: 40px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(94,95,99,0.88);
  -moz-box-shadow: 0px 3px 8px 0px rgba(94,95,99,0.88);
  box-shadow: 0px 3px 8px 0px rgba(94,95,99,0.88);
  z-index: 1;
}

#navbar.scroll .nav  {
  margin-top: 5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#navbar.scroll li {
  font-size: 1.2rem;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

li {
  font-size: 1.4rem;
  list-style: none;
  padding-right: 50px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-link:hover, .active {
  border-bottom: 1.5px solid var(--gold);
  transition: border 0.3s ease-out;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -ms-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
}

.logo-container {
  z-index: 3;
  position: fixed;
}

.nav-link-logo:hover {
  text-decoration: none;
}

.logo {
  margin: 20px 0px 0px 45px;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.logo-big {
  height: 60px;
}

.scroll-logo {
  height: 30px;
  margin-top: 5px;
}

/* Hamburger Icon */

.navbar-icon {
  position: relative;
  top: 20px;
  margin-left: auto;
  padding-right: 70px;
  display: none;
  z-index: 3;
  width: 20px;
  height: auto;
}

.navbar-toggle {
  width: 30px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--gold);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar-toggle span:nth-child(1) {
  top: 0px;
}

.navbar-toggle span:nth-child(2),.navbar-toggle span:nth-child(3) {
  top: 8px;
}

.navbar-toggle span:nth-child(4) {
  top: 16px;
}

.navbar-toggle.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Overlay */

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(0,0,0,0);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.visible {
  background-color: rgba(0,0,0,0.5);
  opacity: 0.5;
  z-index: 2;
}

/*Hero*/

#hero {
  background-image: url('../img/Hero_IMG_min.png');
  background-color: var(--mediumdarkblue);
  background-size: cover;
  color: white;
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
  width: 100%;
  filter: blur(0.5);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  font-weight: 100;
  letter-spacing: 0.2em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 45%;
  width: 100%;
}

#name {
  font-size: 3.5rem;
}

h1 {
  font-size: 1.1rem;
}

.chevron {
  color: var(--gold);
  position: absolute;
  bottom: 20px;
  left: 50%;
  -moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
  cursor: pointer;
}

.chevron::before {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 0.7em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.7em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.segment {
  color: var(--darkblue);
  font-size: 1.3rem;
  height: auto;
  z-index: 0;
  padding: 30px 40px;
}


.heading {
  color: var(--darkblue);
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 100;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}

.heading:after {
  position: absolute;
  content: '';
  height: 2px;
  top: 55px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  background: var(--mediumdarkblue);
}

/*About Section*/

.photo {
  float: left;
  padding-right: 40px;
  padding-left: 10px;
}

.photo > img {
  border-radius: 50%;
  max-height: 150px;
  max-width: 100%;
}

.text {
  overflow: hidden;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: justify;
}

.text p:first-of-type {
  font-size: 2rem;
  font-weight: 300;
  margin: 0px auto 10px;
}

.text p:nth-of-type(2) {
  font-weight: 400;
}

.text span {
  font-weight: 400;
}

/*Project Section*/

#projects {
  background-color: var(--lightblue);
}

.project-box {
  color: var(--darkblue);
  width: 95%;
  margin: 50px auto;
}

.project-text {
  overflow: hidden;
  padding-bottom: 10px;
}

.project-text h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-text p {
  font-weight: 300;
  text-align: justify;
}

.techstack {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.divider {
  color: var(--mediumdarkblue);
}

.project-text a {
  background-color: var(--lightblue);
  color: var(--mediumdarkblue);
  border: 2px solid var(--mediumdarkblue);
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 8px 16px;
  margin-right: 10px;
  text-decoration: none;
}

.project-text a:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.project-img {
  margin-top: 20px;
}

.project-img img {
  width: 400px;
}

.project-box:nth-child(even) .project-img {
  float: right;
  padding-left: 40px;
}

.project-box:nth-child(odd) .project-img {
  float: left;
  padding-right: 40px;
}

.project-box:last-of-type {
  margin-bottom: 50px;
}

.more-projects {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--darkblue);
}

.more-projects a {
  text-decoration: none;
  color: var(--mediumdarkblue);
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.more-projects a:hover {
  border-bottom: 1px solid var(--mediumdarkblue);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

/*Contact Section*/
.contact-me-p {
  color: var(--darkblue);
  font-size: 1.3rem;
  font-weight: 300;
  padding-bottom: 20px;
  text-align: center;
}

form {
  padding-bottom: 30px;
  text-align: center;
}

input {
  border: 1px solid var(--mediumdarkblue);
  border-radius: 3px;
  font-family: 'Heebo', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  height: 30px;
  padding-left: 5px;
  width: 300px;
}

textarea {
  border: 1px solid var(--mediumdarkblue);
  border-radius: 3px;
  font-family: 'Heebo', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 5px;
  width: 300px;
}

.input {
  padding-bottom: 20px;
}

.submit {
  background-color: var(--mediumdarkblue);
  border: 1px solid var(--mediumdarkblue);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Heebo';
  width:100px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-appearance: none;
}

.submit:hover {
  background-color: white;
  border: 2px solid var(--mediumdarkblue);
  color: var(--mediumdarkblue);
  cursor: pointer;
}

/*Footer*/
footer {
  background-color: var(--lightblue);
  height: auto;
  padding: 20px 0;
  width: 100%;
}

#footer{
  display: flex;
  justify-content: center;
  margin: 0;
}

#footer > li {
  font-size: 0.8rem;
  padding-right: 5%;
  padding-left: 5%;
  z-index: 2;
}

#footer > li > a {
  color:inherit;
  text-decoration: none;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

#footer > li > a:hover {
  border: none;
  color: var(--mediumdarkblue)
}

#footer i {
  font-size: 1.8rem;
  padding-right: 15px;
}

.footer-item {
  padding-top: 0.5%;
}

/* Privacy Policy & Legal Notice */
.additional-pages {
  color: var(--darkblue);
  padding: 60px 40px 30px;
}

.additional-pages h2 {
  font-size: 2.4rem;
  font-family: 'Playfair Display';
  font-weight: 100;
  margin-top: 20px;
  position: relative;
}

.additional-pages h2:after {
  position: absolute;
  content: '';
  height: 2px;
  top: 55px;
  margin: 0 50px;
  left: 0;
  right: 0;
  width: 100px;
  background: var(--mediumdarkblue);
}

.additional-pages h3 {
  font-weight: 400;
  margin: 25px auto 10px;
}

.additional-pages h4 {
  font-weight: 400;
  margin: 15px auto 10px;
}

.additional-pages h5 {
  font-weight: 400;
  font-style: italic;
  margin: 15px auto;
}

.additional-pages li {
  font-size: 1rem;
  font-weight: 300;
  list-style: unset;
}

.additional-pages span {
  font-weight: 400;
}

.additional-pages p {
  font-weight: 300;
  margin: 0;
}

.additional-pages p:first-of-type {
  margin-bottom: 15px;
}

.additional-pages p:last-of-type {
  margin-bottom: 25px;
}

.additional-pages a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.additional-pages a:hover {
  color: var(--mediumdarkblue);
}

/* Animation */
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .navbar-icon {
    display: block;
  }

  #navbar {
    display: none;
    height: 180px;
    padding: 0;
    background-color: var(--mediumdarkblue);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  #navbar.scroll {
    height: 160px;
    padding: 0;
    background-color: var(--mediumdarkblue);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  #navbar.scroll .nav {
    margin-top: 10px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    height: 140px;
    background-color: var(--mediumdarkblue);
  }

  .scroll-header {
    background-color: var(--mediumdarkblue);
    height: 40px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(94,95,99,0.88);
    -moz-box-shadow: 0px 3px 8px 0px rgba(94,95,99,0.88);
    box-shadow: 0px 3px 8px 0px rgba(94,95,99,0.88);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .scroll-header .navbar-toggle {
    position: relative;
    top: -10px;
  }

  .nav li {
    padding-bottom: 10px;
  }

  #navbar.scroll li {
    font-size: 1.4rem;
  }

  .text {
    margin-top: 0px;
  }

  .project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;;
  }

  .project-box:first-of-type {
    margin-top: 30px;
  }

  .project-box:nth-child(even) .project-img, .project-box:nth-child(odd) .project-img {
    float: none;
    padding: 0;
  }

  .project-text {
    text-align: center;
  }

  .project-text p:first-of-type {
    text-align: justify;
  }

  .project-img {
    margin-top: 0;
  }

  .techstack {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  #hero {
    background-image: url('../img/Hero_IMG_min_tablet.png');
  }
}

@media (max-width: 600px) {
  .photo {
    float: none;
    padding-right: 0;
    margin: 30px auto 0;
    width: 100px;
  }

  .photo img {
    height: 100px;
  }

  .text {
    margin: 0 10px 20px;
  }

  .text p:first-of-type {
    text-align: center;
    margin-top: 10px;
  }

  #footer {
    padding: 0px 20px;
  }

  #footer i {
    font-size: 16px;
    padding-right: 5px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }

  #navbar.scroll .nav {
    margin-top: 5px;
  }

  .navbar-icon {
    padding-right: 50px;
  }

  .logo {
    margin-left: 25px;
  }

  .segment {
    padding: 30px 20px;
  }

  .project-img img {
    width: 300px;
  }

  .contact-me-p {
    padding: 0px 20px 20px;
  }
}

@media (max-width: 450px) {
  #hero {
    background-image: url('../img/Hero_IMG_min_phone.png');
  }

  .navbar-toggle {
    width: 20px;
    height: 45px;
  }

  .navbar-toggle span {
    height: 2px;
  }

  .navbar-toggle span:nth-child(1) {
    top: 0px;
  }

  .navbar-toggle span:nth-child(2),.navbar-toggle span:nth-child(3) {
    top: 6px;
  }

  .navbar-toggle span:nth-child(4) {
    top: 12px;
  }

  .scroll-header .navbar-toggle {
    position: relative;
    top: -7px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }

  .project-img img {
    width: 250px;
  }

  .nav li {
    font-size: 16px;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  #hero {
    background-attachment: scroll;
  }
}
